<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>

<form th:method="POST" action="/admin" th:object="${user}">
    <label for="username">Enter username: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <br>
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br>
    <label>Role:</label>
    <br>
    <div>
        <label for="roles">Roles:</label>
        <select id="roles" name="roles" multiple th:field="*{roles}">
            <option th:each="role : ${allRoles}" th:value="${role.id}" th:text="${role.roleName}"></option>
        </select>
    </div>
    <br>
    <input type="submit" value="Create!"/>
</form>

</body>
</html>